<section class="about" id="aboutus">


  <div class="descripcion">
    <div><h2>Quienes somos</h2></div>

    <ul>
      <li class="about">Más 10 años de experiencia nos avalan</li>
      <li class="about">Utilizamos productos aptos para animales de primera calidad</li>
      <li class="about">Priorizamos el bienestar físico y mental de tu compañero animal</li>
      <li class="about" >Nuestras instalaciones cuentan con todas las medidas de seguridad para evitar accidentes</li>
      <li class="about">Contamos con personal capacitado para todos nuestros servicios</li>
    </ul>
  </div>
  <!-- Imagen de la empresa (NO logo) -->
  <div class="descripcion-img">
    <img src="assets/about.jpg" alt="Perro acostado" />
  </div>
</section>
