<footer id="footer">
  <!-- Redes sociales -->
  <div class="redes-list">
    <ul>
      <li>
        <a href="https://www.instagram.com/suavelomitolp" title="Instagram" target="_blank"
        ><img src="assets/002-instagram.png"> </a
        >
      </li>
      <li>
        <a href="https://www.facebook.com/peluqcaninalp" title="Facebook" target="_blank"
        ><img src="assets/001-facebook.png" alt="facebook"> </a
        >
      </li>
      <li>
        <a href="https://wa.me/5492216394663" title="WhatsApp" target="_blank">
          <img src="assets/003-whatsapp.png" alt="whatsapp"></a>
      </li>
    </ul>
  </div>
</footer>
