<!-- Header -->
<header>
  <div class="containerHeader">
    <h1 class="title">Turnos agendados</h1>
  </div>
</header>
<main>

<section class="formulario" >

<!--    <div class="containerform">-->
<!--      <div class="formtitle" id="formulario">-->
<!--        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

<!--          <ng-container matColumnDef="id">-->
<!--            <th mat-header-cell *matHeaderCellDef>ID</th>-->
<!--            <td mat-cell *matCellDef="let pet">{{ pet.id }}</td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef="namepet">-->
<!--            <th mat-header-cell *matHeaderCellDef>Name Pet</th>-->
<!--            <td mat-cell *matCellDef="let pet">{{ pet.namepet }}</td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef="nameowner">-->
<!--            <th mat-header-cell *matHeaderCellDef>Name Owner</th>-->
<!--            <td mat-cell *matCellDef="let pet">{{ pet.nameowner }}</td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef="tel">-->
<!--            <th mat-header-cell *matHeaderCellDef>Tel</th>-->
<!--            <td mat-cell *matCellDef="let pet">{{ pet.tel }}</td>-->
<!--          </ng-container>-->

<!--          <ng-container matColumnDef="raza">-->
<!--            <th mat-header-cell *matHeaderCellDef>Raza</th>-->
<!--            <td mat-cell *matCellDef="let pet">{{ pet.raza }}</td>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="size">-->
<!--            <th mat-header-cell *matHeaderCellDef>Size</th>-->
<!--            <td mat-cell *matCellDef="let pet">{{ pet.size }}</td>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="service">-->
<!--            <th mat-header-cell *matHeaderCellDef>Service</th>-->
<!--            <td mat-cell *matCellDef="let pet">{{ pet.service }}</td>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="date">-->
<!--            <th mat-header-cell *matHeaderCellDef>Date</th>-->
<!--            <td mat-cell *matCellDef="let pet">{{ pet.date }}</td>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="time">-->
<!--            <th mat-header-cell *matHeaderCellDef>Time</th>-->
<!--            <td mat-cell *matCellDef="let pet">{{ pet.time }}</td>-->
<!--          </ng-container>-->
<!--          <ng-container matColumnDef="detail">-->
<!--            <th mat-header-cell *matHeaderCellDef>Detail</th>-->
<!--            <td mat-cell *matCellDef="let pet">{{ pet.detail }}</td>-->
<!--          </ng-container>-->
<!--          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--        </table>-->
<!--        </div>-->
<!--    </div>-->

    <div class="imgform">
      <!--IMAGEN-->
      <img src="assets/playa.jpeg" alt="Perro en la playa">
    </div>
  </section>
</main>
