<nav class="navbar">
  <!-- Logo -->
  <div class="logo">
    <a href="index.html" title="Inicio"
    ><img src="assets/Logo.png" alt="Imagen logo"
    /></a>
  </div>
  <!-- Links a otras secciones -->
  <div>
    <ul class="nav-links">
      <li><a routerLink="/home/serviciopelu" title="Servicios">Servicios</a></li>
      <li><a routerLink="/reserva" title="Reserva">Reserva</a></li>
      <li><a title="Contacto">Contacto</a></li>
    </ul>
  </div>
  <button class="btn" id="login" (click)="openModal()">Login</button>
</nav>
