<section class="slider">
  <div class="slider_container containerHeader">
    <img src="assets/leftarrow.svg" class="slider_arrow" id="before" alt="icono flecha izquierda">

    <section class="slider_body slider_body--show" data-id="1">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/campo.jpeg" alt="Perro en el campo" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="2">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/Fausto.png" alt="Caniche" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="3">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/helena.jpeg" alt="Perro mestizo" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="4">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/mestizo-barba.jpeg" alt="Perro mestizo con barba" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="5">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/mestizo-golden.jpeg" alt="Mestizo de golden" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="6">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/Fausto01.jpg" alt="Caniche" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="7">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/mestizo-marron.jpeg" alt="Perro mestizo marron" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="8">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/neme.jpeg" alt="Perro mestizo blanco" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="9">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/ovejero.jpg" alt="Perro ovejero" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="10">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/playa.jpeg" alt="Perro en la playa" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="11">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/Pupi.jpeg" alt="Perro mestizo 2" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="12">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/samoyedo.jpg" alt="Perro Samoyedo" class="slider_img">
      </figure>
    </section>
    <section class="slider_body" data-id="13">
      <div class="slider_texts">
        <h2 class="subtitle">Nuestros clientes</h2>

      </div>
      <figure class="slider_picture">
        <img src="assets/york.jpg" alt="Perro Yorkshire" class="slider_img">
      </figure>
    </section>

    <img src="assets/rightarrow.svg" class="slider_arrow" id="after" alt="icono flecha derecha">
  </div>
</section>
