*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  background-color: rgba(255, 243, 203, 0.5);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}
.errorText{
  color: red;
  font-weight: 300;
  font-size: 15px;
}
ul, ol, dl {
  margin-bottom: 0 !important;
}

